<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="Home.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    <body>
        <h2 class="welcome">WELCOME ADMIN</h2>
            <div style="display: flex;">
                <div>
                    <button class="login-button slide" onclick="document.location='/student_register'"><i class="fa fa-plus" style="font-size:20px;"></i> Add Student</button>
                <button class="login-button slide" onclick="document.location='/student_register'"><i class="fa fa-pen" style="font-size:15px;"></i> Update Student</button>
                <button class="login-button slide" onclick="document.location='/student_register'"><i class="fa fa-trash" style="font-size:15px;"></i> Remove Student</button>
                </div>
                
                <div>
                    <button class="login-button slide" onclick="document.location='/teacher_register'"><i class="fa fa-plus" style="font-size:20px;"></i> Add Teacher</button>
                <button class="login-button slide" onclick="document.location='/teacher_register'"><i class="fa fa-pen" style="font-size:15px;"></i> Update Teacher</button>
                <button class="login-button slide" onclick="document.location='/teacher_register'"><i class="fa fa-trash" style="font-size:15px;"></i> Remove Teacher</button>
                </div>
            </div>
    </body>
</html>