<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Home.css"/>
    </head>
    <body>
        <h2 class="welcome">TABLE BUDDY</h2>
            <h2 class="title">Login as</h1>
            <button class="login-button slide" onclick="document.location='/admin'">Admin</button>
            <button class="login-button slide" onclick="document.location='/teacher'">Teacher</button>
            <button class="login-button slide" onclick="document.location='/student'">Student</button>
    </body>
</html>